user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    server {
        listen 80;
        location / {
            return 200 'Hello from Nginx!';
        }
    }
}